*.pyc
*.pyo
*.log
*.db
*.pid
.DS_Store
.coverage
local_settings.py
/backend/media
/backend/backend_static
/backend/frontend_static
/backend/cookbook_static
/frontend/public/application.*
/frontend/public/index.html
/frontend/test/public
/cookbook/.env.local
/cookbook/dist
/cookbook/node_modules
dj_static
/docker-compose/dev_exported_config.yaml

/postgresqldata*
.venv
/venv
/.dockerignore
__pycache__
/package.json
/yarn.lock

/cypress/videos
/cypress/screenshots

/postgresqldata_test
/.env

/.idea
/node_modules

/event_images
/backend/old_database_dump/db.json