@use 'styles/media';
@use 'styles/colors';

.question {
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.questionText {
  a {
    color: colors.$bronto;
    text-decoration: underline;
  }
}

// in case of overlong answers
.wrap {
  word-break: break-word;
  max-width: 100%;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 100%;
  @include media.for-tablet-landscape-up {
    width: 500px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;

  :global(.radioLabel) {
    margin: 0;
  }
  :global(.checkboxLabel) {
    padding: 0;
    margin: 0;
  }
}

.optionLink {
  min-height: unset;
  margin-left: 5px;
  :global(svg) {
    width: 1em !important;
    height: 1em !important;
  }
}

.scale {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.scaleLabel:first-child {
  text-align: right;
}

.scaleRange {
  display: flex;
  gap: 0.7em;
}

.scaleOption {
  grid-template-columns: auto;
  justify-items: center;
  margin: 0;
  gap: 0.3em;
}

.scaleText {
  margin-top: 0.7em;
}

.horizontalLayout {
  flex-direction: row;
  row-gap: 10px;
  column-gap: 20px;
  flex-wrap: wrap;

  @include media.for-phone-only {
    flex-direction: column;
    gap: 10px;
  }
}

.other {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
