@use 'styles/colors';
@use 'styles/media';

.main {
  width: calc(500px + 1.5rem); // same as buttons
  @include media.for-phone-only {
    width: 100%;
  }

  border-radius: 1rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: max-content 1fr;

  position: relative;
  z-index: 0;
}

.main::after {
  content: '';
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: colors.$gray-100;
  background-image: url("../../assets/happy-earth-TODO-replace-with-original.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
}

.date {
  padding-right: .3rem;
}

.date:not(:first-child),
.title:not(:nth-child(2)) {
  border-top: 1px solid colors.$gray-300;
  padding-top: .3rem;
}

.single {
  padding-bottom: .3rem;
}

.description {
  padding: 0 .7rem;

  grid-column: span 2;
  font-style: italic;
}

.description:not(:last-child) {
  padding-bottom: .3rem;
}
