@import "base.css";

/*.centered-menu .v-overflow {*/
/*  justify-content: center !important;*/
/*}*/

.n-page-header {
  align-items: baseline;
}

/*[data-col-key="__n_expand__"] {*/
/*  padding: 5px !important;*/
/*}*/

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.n-base-select-menu__empty:has(.input_empty_hide) {
  display: none !important;
}
