{% extends 'admin/base.html' %}
{% load static i18n %}
{% block extrahead %}{{ block.super }}
    <script src="{% static 'clickable_select2.js' %}"></script>
    <style>
        :root, html[data-theme="light"] {
            --primary: rgba(30, 150, 70, 0.85);
            --secondary: #377D69;
            --accent: #fffd7f;
            --header-color: rgb(255, 251, 200);
            --breadcrumbs-fg: rgb(221, 255, 234);
            --breadcrumbs-bg: var(--primary);
            --link-fg: #009a35;
            --link-hover-color: #00802b;
            --link-selected-fg: var(--link-fg);
            --selected-row: rgb(255, 249, 217);
            --button-bg: var(--primary);
            --button-hover-bg: rgb(30, 150, 70);
            --default-button-bg: var(--secondary);
            --default-button-hover-bg: #307360;
            --close-button-bg: #888;
            --close-button-hover-bg: #747474;
        }

        @media (prefers-color-scheme: dark) {
            :root:not([data-theme="light"]) {
                --primary: rgba(30, 150, 70, 0.85);
                --secondary: #377D69;
                --accent: #d4d27a;
                --header-color: rgba(255, 251, 200, 0.85);
                --breadcrumbs-fg: rgb(200, 240, 215);
                --breadcrumbs-bg: var(--primary);
                --link-fg: #4cc470;
                --link-hover-color: #5ed882;
                --link-selected-fg: var(--link-fg);
                --selected-row: rgba(60, 90, 60, 0.5);
                --button-bg: var(--primary);
                --button-hover-bg: rgb(50, 200, 100);
                --default-button-bg: var(--secondary);
                --default-button-hover-bg: #5ab698;
                --close-button-bg: #666;
                --close-button-hover-bg: #777;
            }
        }

        .model-membership #changelist-form .field-get_membership_actions input, .model-user #user_form .field-get_membership_actions input {
            padding: 0;
            background: none;
            color: var(--primary);
        }

        input[type="checkbox"] {
            filter: hue-rotate(230deg) brightness(1.2);
        }

        #result_list td.field-chairman.nowrap {
            white-space: unset;
        }

        .required label, label.required {
            font-weight: normal;
            color: var(--body-fg);
        }

        label {
            font-weight: normal;
            color: var(--body-fg);
        }

        .required label:before, label.required:before {
            content: '* ';
            color: var(--error-fg);
        }

        #changelist-form > div.results {
            transform: scaleY(-1);
        }

        #result_list {
            transform: scaleY(-1);
        }

        #result_list th.action-checkbox-column,  #result_list td.action-checkbox {
            position: sticky;
            left: 0;
            z-index: 1;
            width: 40px;
            max-width: 40px;
            min-width: 40px;
            padding: 8px 0 0 0;
        }

        #result_list th.action-checkbox-column + th,  #result_list td.action-checkbox + th {
            position: sticky;
            left: 40px;
            z-index: 2;
        }

        #result_list thead th,
        #result_list tbody tr:nth-child(even) td.action-checkbox,
        #result_list tbody tr:nth-child(even) td.action-checkbox + th {
            background: var(--darkened-bg);
        }

        #result_list tbody tr:nth-child(odd) td.action-checkbox,
        #result_list tbody tr:nth-child(odd) td.action-checkbox + th {
            background: var(--body-bg);
        }

        #result_list tbody tr.selected td.action-checkbox,
        #result_list tbody tr.selected td.action-checkbox + th {
            background: var(--selected-row);
        }

        #result_list th {
            white-space: unset !important;
        }

        #result_list .field-location.nowrap, #result_list .field-program.nowrap {
            white-space: unset !important;
        }

        .admindatefilter {
            border: none !important;
            padding: 0 15px 15px
        }

        #changelist-filter ul {
            border: none;
        }

        #changelist-filter form button {
            margin: 0 15px 15px;
        }

        .submit-row {
            justify-content: flex-end;
        }




    </style>
    <link rel="icon" href="{% static 'favicon.png' %}" sizes="32x32"/>
{% endblock %}
{% block userlinks %}
    <a href="https://brontosaurus.cz">Web</a> /
    <a href="/">Organizátorský BIS</a> /
    <a href="{% url 'admin:bis_user_change' request.user.id %}">Můj profil</a> /
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

