@use 'styles/colors';

.bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  display: inline-flex;
  align-items: center;
}

.info {
  background-color: colors.$opportunities-100;
  color: colors.$opportunities-500;
}

.warning {
  background-color: colors.$yellow;
  color: colors.$gray-500;
}

.error {
  background-color: colors.$error-light;
  color: colors.$error-400;
}

.closeButton {
  position: absolute;
  right: 12px;
  display: inline-flex;
  align-items: center;
  background: none;
  cursor: pointer;
  line-height: 1;
  padding: 4px;
  color: inherit;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
