{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {% if original.id %}
        <div class="submit-row">
            {% if request.user.is_superuser %}
                <input type="submit" value="Ulož bez validace" name="_save_raw"/>
            {% endif %}
            <input type="submit" value="Export souborů" name="_files_export"/>
            <br>
          Prezenční listina:
            <input type="submit" value="xlsx" name="_attendance_list_xlsx_export"/>
            <input type="submit" value="pdf" name="_attendance_list_pdf_export"/>
            <br>
          Export účastníků:
            <input type="submit" value="xlsx" name="_participants_xlsx_export"/>
            <br>
          Zobrazit v BISu:
            <input type="submit" value="Událost" name="_redirect_to_fe"/>
            <input type="submit" value="Přihlášky / účastníci" name="_redirect_to_fe_attendance_list"/>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}